*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(https://onedrive.live.com/embed?resid=4823990688480450%215817&authkey=%21ABvOaV1XmJBZVto&width=3840&height=2160);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 120%;
}

header{
    display: flex;
    flex-direction: column;
}

#little-materias{
    background: rgba(0, 0, 0, 0.471);
    color: white;
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
}

.section-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out; 
}

.card:hover{
    transform: translateY(20px);
}

.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(232, 232, 112, 0.81), rgba(0, 0, 0, 0.612) );
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before{
    opacity: 1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out
}

.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}